body {
  display: flex;
  flex-direction: column;
}

#top-bar {
  display: flex;
  justify-content: space-between;;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 2.5px solid grey;
}

#main-container div {
  width: 70%;
  margin-bottom: 20px;
}

#main-container button {
  width: fit-content;
  color: white;
  background-color: purple;
  border-radius: 5px;
}

#main-container button:hover {
  background-color: rgb(184, 16, 184);
}

#question-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 60%;
  margin: auto;
  padding: 20px;
  /* border: 2.5px solid grey; */
}

#answers {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

#answers button {
  margin: 5px;
  min-width: 100px;
  color: white;
  background-color: purple;
  border-radius: 5px;
}

#answers button:hover {
  background-color: rgb(184, 16, 184);
}

form #initial {
  width: 100%;
}

#end-page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 40%;
  margin: auto;
  padding: 20px;
  /* border: 2.5px solid grey; */
}

#submit, #restart {
  margin: 5px;
  min-width: 100px;
  width: 60%;
  margin: 5px auto;
  color: white;
  background-color: purple;
  border-radius: 5px;
}

#submit:hover, #restart:hover {
  background-color: rgb(184, 16, 184);
}

#score-table {
  border-collapse: collapse;
  text-align: center;
  width: 60%;
  margin: auto;
}

#score-table tr:nth-child(odd) {
  background-color: rgb(200, 141, 240);
}

#score-table tr:nth-child(even){
  background-color: rgb(157, 69, 216);
}

#score-table {
  color: white;
}